/* GENERAL*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap");

body {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  color: black;
  margin: 0px;
  margin-bottom: 0px;
  line-height: 20px;
  background-color: rgb(252, 252, 252);
}

/* HEADER */

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container {
  width: 960px;
  max-width: 100%;
  padding: 20px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}
